.content{
    width: 95%;
    margin: 20px auto;
    text-align: center;
    background: black;
    border-radius: 25px;
    border: 1px solid #bebebe;
}

/* Medium screens and above */
@media (min-width: 768px) {
    .content {
      width: 40%;
    }
}

.content p{
    padding: 20px 20px;
}

.content img{
    max-width: 100%;
    height: auto;
}

.main{
    text-align: center;
}
